<div
  cdkDropList
  class="table"
  id="table-{{ tableNumber }}"
  [cdkDropListData]="tableUsers"
  (cdkDropListDropped)="drop($event)"
>
  <p>Table {{ tableNumber }}</p>
  <app-match-precentage-bar
    id="matchBar" 
    matchValue="{{ matchVal }}"
    >
  </app-match-precentage-bar>
  <div
    class="participant"
    cdkDrag
    *ngFor="let user of tableUsers; let i = index"
    [ngStyle]="{ cursor: user === 'TBD' ? 'not-allowed' : (i == 0 ? 'move' : 'grab') }"
    [cdkDragDisabled]="user === 'TBD'"
  >
    {{ user }}
    <ng-container *ngIf="i == 0">
      <div *cdkDragPreview>
        <div class="participant">{{ tableUsers[0] }}</div>
        <div class="participant">{{ tableUsers[1] }}</div>
      </div>
    </ng-container>
  </div>
</div>
