.table {
  background-color: gray;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.5rem;
}

.participant {
  background: var(--accent-clr);
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.participant:nth-child(odd) {
  background-color: var(--secondary-clr);
}
