<div
  cdkDropList
  class="table"
  id="table-{{ tableNumber }}"
  [cdkDropListData]="tableUsers"
  (cdkDropListDropped)="drop($event)"
>
  <p>Table {{ tableNumber }}</p>
  <div
    class="participant"
    cdkDrag
    *ngFor="let user of tableUsers; let i = index"
    [ngStyle]="{ cursor: i == 0 || user.firstname == 'TBD' ? 'not-allowed' : 'grab' }"
    [cdkDragDisabled]="user.firstname === 'TBD'"
  >
    {{ user.firstname }}

    <ng-container *ngIf="i == 0">
      <div *cdkDragPreview>
        <div class="participant">{{ tableUsers[0] }}</div>
        <div *ngIf="!isFemaleTBD" class="participant">{{ tableUsers[1] }}</div>
        <div *ngIf="isFemaleTBD" class="participant"> TBD</div>

      </div>
    </ng-container>

  </div>
</div>
