.date_container {
  width: 250px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.date_person {
  width: 80%;
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-clr);
}

.participant {
  cursor: grab;
  height: 30px;
  background-color: red;
  border: 1px solid black;
  margin-top: 2px;
  background: var(--secondary-clr);
}

.participant:nth-child(odd) {
  background-color: white;
}

.participantList {
  border: 1px solid black;
  width: 500px;
  margin-bottom: 15px;
}
