footer {
  display: flex;
  justify-content: space-evenly;
  background: var(--black-clr);
  color: var(--white-clr);
  padding-bottom: 1rem;
}

footer > div {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.social-container,
.about-container,
.contact-container {
  justify-content: center;
  padding: 1rem;
}

.social-container,
.contact-container {
  padding-top: 1rem;
  display: grid;
  column-gap: 1rem;
}

.social-container {
  row-gap: 1rem;
  grid-template-columns: repeat(3, auto);
}

.contact-container {
  row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}

p {
  padding-top: 1rem;
  text-align: center;
}

.social-icon {
  font-size: 2rem;
}

a {
  color: inherit;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.2);
}

.mailto:hover {
  transform: none;
}

@media (max-width: 960px) {
  footer {
    flex-direction: column;
  }
  .contact-container {
    margin: 0 auto;
  }
}
