<footer>
  <div>
    <h1>Social</h1>
    <div class="social-container">
      <a href="https://www.youtube.com" target="_blank"
        ><fa-icon class="social-icon" [icon]="youtube"></fa-icon
      ></a>
      <a href="https://www.facebook.com" target="_blank"
        ><fa-icon class="social-icon" [icon]="facebook"></fa-icon
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><fa-icon class="social-icon" [icon]="XTwitter"></fa-icon
      ></a>
      <a href="https://www.linkedin.com" target="_blank"
        ><fa-icon class="social-icon" [icon]="linkedin"></fa-icon
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><fa-icon class="social-icon" [icon]="instagram"></fa-icon
      ></a>
      <a href="https://www.github.com" target="_blank"
        ><fa-icon class="social-icon" [icon]="github"></fa-icon
      ></a>
    </div>
  </div>
  <div>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. consectetur
      adipisicing elit. consectetur adipisicing elit.
    </p>
  </div>
  <div>
    <h1>Contact</h1>
    <div class="contact-container">
      <a class="mailto" href="mailto:toha2102@student.miun.se"
        >Tobias Hansson</a
      >
      <a class="mailto" href="mailto:sath2102@student.miun.se">Samuel Thand</a>
      <a class="mailto" href="mailto:sath2102@student.miun.se"
        >Anton Gunnarsson</a
      >
      <a class="mailto" href="mailto:sath2102@student.miun.se"
        >Filip Nordholm</a
      >
      <a class="mailto" href="mailto:sath2102@student.miun.se">Ruben Madsen</a>
      <a class="mailto" href="mailto:sath2102@student.miun.se"
        >Andreas Eriksson</a
      >
      <a class="mailto" href="mailto:sath2102@student.miun.se">Melvin Hedman</a>
    </div>
  </div>
</footer>
