<footer>
  <div>
    <img src="./assets/img/logo/header_logo.png" alt="logo">
    <div class="social-container">
      <fa-icon class="social-icon" [icon]="youtube"></fa-icon>
      <fa-icon class="social-icon" [icon]="facebook"></fa-icon>
      <fa-icon class="social-icon" [icon]="XTwitter"></fa-icon>
      <fa-icon class="social-icon" [icon]="linkedin"></fa-icon>
      <fa-icon class="social-icon" [icon]="instagram"></fa-icon>
      <fa-icon class="social-icon" [icon]="github"></fa-icon>
    </div>
  </div>
  <div>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </div>
  <div>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </div>
</footer>
