

.new-event-popup-container {
  background-color: var(--white-clr);
  border: 1px solid var(--accent-clr);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  /*transition: top 0.5s ease;*/
}

.new-event-form {
  margin-left: auto;
  margin-right: auto;
}
input, select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.input {
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 1rem;
  margin-right: 3rem;
}

.x_close_form {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  cursor: pointer;
}


.description-container textarea {
  resize: none;
}

.new-event-form .input-error, .new-event-form select.input-error, .description-container .description.input-error {
  border: 1px solid red;
}

.button-container {
  margin-top: 1rem;
  /*width: 50%;*/
}

@media (max-width: 960px) {
  .new-event-popup-container {
    width: 300px; /* Adjusted width for smaller screens */
    height: auto; /* Adjust height as needed */
  }
}

@media (max-width: 680px) {
  .new-event-popup-container {
    width: 100%;
    height: 100%;
    top: 100%; /* Start off-screen */
    left: 0;
    transition: top 0.5s ease; /* Remove transform to allow 'top' to control position */
  }
  /* Additional class to control visibility */
  .new-event-popup-container.show {
    top: 0;
  }
}
