<div class="signup-form-container" *ngIf="isVisible">
  <div class="signup-form-header">
    <fa-icon [icon]="faX" class="x_close_form" (click)="closeForm()"></fa-icon>
  </div>
  <form class="signup-form" name="form" #f="ngForm">
    <div class="signup-form" *ngIf="!nextIsPressed">
      <div class="user-option-container">
        <label>
          <input type="radio" name="option" [(ngModel)]="form.option" value="A" #option="ngModel" (change)="onOptionChange()">
          Organizer
        </label>
        <label>
          <input type="radio" name="option" [(ngModel)]="form.option" value="B" #option="ngModel" (change)="onOptionChange()">
          Participant
        </label>
      </div>

      <div class="middle-container">
        <div class="left-container">
          <input type="text" class="input text" [placeholder]="firstname.invalid && firstname.touched ? 'Firstname is required' : 'Firstname'" name="firstname" required [(ngModel)]="form.firstname" #firstname="ngModel"
                 [class.input-error]="firstname.invalid && firstname.touched">

          <input type="text" class="input text" [placeholder]="lastname.invalid && lastname.touched ? 'Lastname is required' : 'Lastname'" name="lastname" required [(ngModel)]="form.lastname" #lastname="ngModel"
                 [class.input-error]="lastname.invalid && lastname.touched">

          <input type="number" class="input age" [placeholder]="age.invalid && age.touched ? 'Age is required' : 'Age'" required name="age" [(ngModel)]="form.age" #age="ngModel"
                 [class.input-error]="age.invalid && age.touched" min="0">

          <input type="email" class="input email" [placeholder]="email.invalid && email.touched ? 'E-mail is required' : 'E-Mail'" name="email" required [(ngModel)]="form.email" #email="ngModel"
                 [class.input-error]="email.invalid && email.touched">
          <div *ngIf="!emailAvailable" class="error-message">
            Email is not available.
          </div>

          <input type="password" class="input password" placeholder="Password" name="password" required [(ngModel)]="form.password" #password="ngModel"
                 [class.input-error]="password.invalid && password.touched ||  password.touched && !passwordValidation()">
          <div *ngIf="password.touched && !passwordValidation()" class="error-message">
            Password needs to be at least 6 characters long with one number.
          </div>

          <input type="password" class="input password" placeholder="Confirm Password" name="confirmPassword" required [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel"
                 [class.input-error]="!passwordsMatch()">
          <div *ngIf="confirmPassword.touched && !passwordsMatch()" class="error-message">
            Passwords do not match.
          </div>

        </div>

        <div class="right-container">
          <div class="select-container">
            <select class="input city" name="city" required [(ngModel)]="form.city" #city="ngModel"
                    [class.input-error]="city.invalid && city.touched">
              <option value="" disabled selected>Select your city</option>
              <option *ngFor="let city of cities" [value]="city._id">{{ city.name }}</option>
            </select>
            <select class="input gender" name="gender" required [(ngModel)]="form.gender" #gender="ngModel" [class.input-error]="gender.invalid && gender.touched">
              <option value="" disabled>Select gender</option>
              <option value="male"> Male</option>
              <option value="female"> Female </option>
            </select>
          </div>
          <div class="description-container">
            <textarea class="input description" required name="description" [(ngModel)]="form.description" #description="ngModel"
                      [class.input-error]="description.invalid && description.touched" rows="11" maxlength="500"
                      [placeholder]="description.invalid && description.touched ? 'Description is required and max 500 characters' : 'Personal description (max 500 characters)'"></textarea>
          </div>
        </div>
      </div>

      <div class="button-container one">
        <app-button *ngIf="isOrganizer" [buttonClass]="'accent clr-white'" [buttonText]="'Register'" (appClick)="register()"></app-button>
        <app-button *ngIf="!isOrganizer && !nextIsPressed" [buttonClass]="'accent clr-white'" [buttonText]="'Next'" (appClick)="next($event)"></app-button>
      </div>

    </div>

    <div class="signup-form" *ngIf="nextIsPressed">
      <div class="interests-container">
        <app-activities-rating></app-activities-rating>
      </div>

      <div class="button-container">
        <app-button *ngIf="nextIsPressed" [buttonClass]="'accent clr-white'" [buttonText]="'Back'" (appClick)="next($event)"></app-button>
        <app-button [buttonClass]="'accent clr-white'" [buttonText]="'Register'" (appClick)="register()"></app-button>
      </div>

    </div>
  </form>
</div>
