.signup-container {
  background: var(--white-clr);
  display: flex;
  flex-direction: column;
  width: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}

.signup-header {
  display: flex;
  justify-content: flex-end;
}

.close {
  cursor: pointer;
  padding: 0.8rem;
}

.user-type-container {
  /* align-items: center; */
  /* justify-content: center; */
}

.user-image {
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 99999px;
  aspect-ratio: 1;
  width: 80%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 1rem; */
}

.interests-form {
  
}

.user-type {
  /* TODO centrera ordentligt */
}

.user-info {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.button-container-one,
.button-container-two {
  display: flex;
  justify-content: center;
}

.button-container-two {
  justify-content: space-between;
}

.signup-error {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: red;
}

.input-error {
  border: 1px solid red;
}
