.signup-container {
  background: var(--white-clr);
  display: flex;
  flex-direction: column;
  width: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.signup-header {
  display: flex;
  justify-content: flex-end;
}

.close {
  cursor: pointer;
  padding: 0.8rem;
}

.user-type-container {
  display: flex;
  justify-content: center;
}

.user-type-container label {
  padding: 1rem;
}

.user-image {
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 40%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-inputs {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
}

.signup-inputs-left,
.signup-inputs-right {
  display: flex;
  flex-direction: column;
}

.signup-inputs-left {
  align-items: center;
}

.signup-inputs-right {
}

.interests-form {
}

.user-info {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

textarea {
  margin-top: 1rem;
  flex: 1;
  border: 1px solid #ccc;
  resize: none;
}

textarea:focus {
  outline: none;
}

.button-container-one,
.button-container-two {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-container-two {
  justify-content: space-between;
}

.signup-error {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: red;
}

.input-error {
  border: 1px solid red;
}
