.signup-form-container {
  background: var(--white-clr);
  border-radius: 10px;
  position: fixed;
  /*margin-left: auto;*/
  /*margin-right: auto;*/

  padding: 0.5rem;
  width: 50%;
}
.middle-container {
  display: flex;
}

.left-container {
  width: 30%;
  border: 1px solid black;
}

.right-container {
  width: 70%;
  border: 1px solid red;
}

.button-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.button-container.one {
  justify-content: center;
}

.x_close_form {
  cursor:pointer;
  padding:1rem;
}

.signup-form-header {
  display: flex;
  justify-content: flex-end;
  height:2rem;
  margin-bottom: 0.5rem;
}

