header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--white-clr);
}

.top-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

img {
  cursor: pointer;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1em;
  margin-right: 1rem;
}

.hide_out_background {
  position: fixed;
  background: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  opacity: 0.2;
  cursor: pointer;
}
