<header>
  <img src="./assets/img/logo/header_logo.png" alt="logo" routerLink="/">
  <nav *ngIf="!(isLoggedIn$ | async)">
    <app-button [buttonClass]="'trans clr-accent border-accent'" [buttonText]="'Sign up'" (click)="toggleSignUpPopup()"> </app-button>
    <app-button [buttonClass]="'accent border-accent clr-white '" [buttonText]="'Login'" (click)="toggleLoginPopup()"> </app-button>
  </nav>
  <nav *ngIf="(isLoggedIn$ | async)">
    <app-button [buttonClass]="'trans clr-accent border-accent'" [buttonText]="'Home'" > </app-button>
    <app-button [buttonClass]="'trans clr-accent border-accent'" [buttonText]="'Profile'"> </app-button>
    <app-button [buttonClass]="'accent border-accent clr-white '" [buttonText]="'Logout'" (click)="logout()"> </app-button>
  </nav>
</header>


<div class="hide_out_background" *ngIf="showLoginPopup" (click)="toggleLoginPopup()"></div>
<div class="hide_out_background" *ngIf="showSignUpPopup" (click)="toggleSignUpPopup()"></div>

<app-sign-up *ngIf="showSignUpPopup"></app-sign-up>


<app-errorbar></app-errorbar>
<div class="hide_out_background" *ngIf="showLoginPopup" (click)="toggleLoginPopup()">
</div>
<app-login *ngIf="showLoginPopup"></app-login>
