label {
    float: left;
    padding: 0 0.3em;
    text-align: center;
}

.questions {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.radioButtons {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.form p {
    margin: auto;
    margin-top: 3em;
}

#shareContacts {
    display: flex;
    padding-top: 1em;
}

#shareText {
    margin: auto;
    padding-right: 1em;
}

#continueBtn {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.big-form {
  background: var(--white-clr);
  position: fixed;
  border: 1px solid black;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}
