.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap:1em;
  flex-wrap: wrap;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
}
