.Profile-card-container {
  cursor: pointer;
  background-color: #f3f3f3;
  border: 1px #ccc solid;
  padding-bottom: 0.5rem;
  margin: 0.2rem;
}

img {
  width: auto;
  height: auto;
  max-width: 10rem;
  border-radius: 50%;
  padding: 1rem;
}

p {
  text-align: center;
}
