.event-info-container {
  display: flex;
  flex-direction: column;
}

.event-text-container,
.information,
.registered {
  margin-top: 1rem;
}

.date,
.location,
.registered {
  font-weight: bold;
}

img {
  width: 100%;
  max-width: fit-content;
}
