.participant-answer-container{
  display: flex;
  flex-direction: column;
}

.date-info-container{
  font-weight: bold;
  text-align: center;
}

.answer-container {
  padding: 1rem;
}

.answer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.participant-name {
  font-weight: bold;
}
