<div class="participant-answer-container">
  
  <div class="date-info-container">
    <p>Date {{ date.dateRound }}</p>
    <p>{{ date.percentage }}% match</p>
  </div>

  <div class="answer-container">
    <p class="participant-name">{{ date.personOne.firstname }}</p>
    <div class="answer">
      <p>Date Rating:&nbsp;</p>
      <p>{{ feedbackOne.question[0] }}/10</p>
    </div>
    <div class="answer">
      <p>In Common:&nbsp;</p>
      <p>{{ feedbackOne.question[1] }}/10</p>
    </div>
    <div class="answer">
      <p>Meet Again?&nbsp;</p>
      <p>{{ feedbackOne.question[2] }}/10</p>
    </div>
  </div>

  <div class="answer-container">
    <p class="participant-name">{{ date.personTwo?.firstname }}</p>
    <div class="answer">
      <p>Date Rating:&nbsp;</p>
      <p>{{ feedbackTwo.question[0] }}/10</p>
    </div>
    <div class="answer">
      <p>In Common:&nbsp;</p>
      <p>{{ feedbackTwo.question[1] }}/10</p>
    </div>
    <div class="answer">
      <p>Meet Again?&nbsp;</p>
      <p>{{ feedbackTwo.question[2] }}/10</p>
    </div>
  </div>

</div>
