<div class="participant-answer-container">
  <p>Meeting {{date.dateRound}}</p>
  <div id="date-info-container">{{ date.personTwo?.firstname }}  | {{date.percentage}}% match</div>

  <div class="answer-container">
    <p class="nameP">{{date.personOne?.firstname}}</p>
    <p *ngFor="let question of feedbackOne">{{question}}</p><!--
    <p>Rate your date: 8/10</p>
    <p>How would you rate X: 5/10</p>
    <p>How would you rate Y: 5/10</p>
    <p>How would you rate Z: 5/10</p>
    <p>How would you rate V: 5/10</p>
    <p>How would you rate Q: 5/10</p>
-->
  </div>

  <div class="answer-container">
    <p class="nameP">{{date.personTwo?.firstname}}</p>
    <p *ngFor="let question of feedbackTwo">{{question}}</p>
<!--    <p>Rate your date: 8/10</p>
    <p>How would you rate X: 5/10</p>
    <p>How would you rate Y: 5/10</p>
    <p>How would you rate Z: 5/10</p>
    <p>How would you rate V: 5/10</p>
    <p>How would you rate Q: 5/10</p>-->
  </div>
</div>
