
<div class="homepage_container">
  <div class="homepage_header">
    <h1>Meet Your Match</h1>
    <h2>Bla Bla Bla</h2>
    <div class="buttons">
      <app-button [buttonClass]="'trans clr-accent border-accent'" [buttonText]="'Events'"> </app-button>
      <app-button [buttonClass]="'accent border-accent'" [buttonText]="'Read More'"> </app-button>
    </div>
  </div>
  <div style="width: 50%;">

  </div>
  <div class="homepage_events">
    <h3>Upcoming Events</h3>

    <app-card-container></app-card-container>


  </div>
</div>
