<div class="page-container">
  <div class="banner">
    <h1>Meet Your Match</h1>
    <h2>His name is Anton Qannarson</h2>
    <div class="button-container">
      <app-button
        [buttonClass]="'trans clr-accent border-accent'"
        [buttonText]="'Events'">
      </app-button>
      <app-button
        [buttonClass]="'accent border-accent'"
        [buttonText]="'Read More'">
      </app-button>
    </div>
  </div>
  <div class="page-content">
    <h3>Upcoming Events</h3>
    <app-card-container></app-card-container>
  </div>
</div>
