
<div class="homepage_container">
  <div class="homepage_header">
    <h1>Meet Your Match</h1>
    <h2>Bla Bla Bla</h2>
    <div class="buttons">
      <button>Placeholder</button>
      <button>Placeholder</button>
    </div>
  </div>

  <div class="homepage_events">
    <h3>Upcoming Events</h3>
    <select>
      <option>Select Location</option>
      <option>Select Location</option>
      <option>Select Location</option>
      <option>Select Location</option>
      <option>Select Location</option>
      <option>Select Location</option>
    </select>
    <div class="event_container">
      <app-event-card *ngFor="let item of [].constructor(50); let i = index">fsafasfs</app-event-card>
    </div>

  </div>
</div>
