<div class="page-container" cdkDropListGroup>
  <div class="info-and-list-container">
    <app-event-info [event]="event"></app-event-info>
    <app-participant-list #participantList></app-participant-list>
  </div>
  <div class="date-container">
    <ng-container *ngFor="let item of [].constructor(10); let i = index">
      <app-date
        [tableNumber]="i"
        male="MALE{{ i }}"
        (returnUserToList)="participantList.recieveItem($event)"
      ></app-date>
    </ng-container>
  </div>
</div>
