<!-- TODO fixa en back-knapp -->
<div class="page-container" cdkDropListGroup>
  <app-button
    [buttonClass]="'trans clr-accent border-accent'"
    [buttonText]="'Back'"
    routerLink="/"
  ></app-button>
  <ng-container *ngIf="isOrganizer$ | async">
    <div class="info-and-list-container">
      <app-event-info [event]="event"></app-event-info>
      <app-participant-list #participantList [participantsList]="participants"></app-participant-list>
    </div>
    <div class="matching-button-container">
      <app-button
        [buttonClass]="cancelEventButtonClass"
        buttonText="Cancel Event"
      ></app-button>
      <app-button
        [buttonClass]="clearTablesButtonClass"
        buttonText="Clear Tables"
      ></app-button>
      <app-button
        [buttonClass]="automaticMatchingButtonClass"
        buttonText="Automatic matching"
      ></app-button>
      <app-button
        [buttonClass]="startDateButtonClass"
        buttonText="Start date"
      ></app-button>
    </div>

    <app-date-container class="date-container" [participantList]="participantList" ></app-date-container>

  </ng-container>

  <ng-container *ngIf="!(isOrganizer$ | async)">
    <div class="info-and-list-container">
      <app-event-info [event]="event"></app-event-info>
    </div>
    <app-button
      *ngIf="!isRegisted && (event!.participants.length < event!.totalParticipants)"
      [buttonClass]="'accent border-accent clr-white '"
      [buttonText]="'Register'"
      (click)="registerAtEvent()"
    ></app-button>

    <app-button
      *ngIf="isRegisted"
      [buttonClass]="'accent border-accent clr-white '"
      [buttonText]="'Unregister'"
      (click)="unregister()"
    ></app-button>

    <app-button
      *ngIf="!isRegisted && (event!.participants.length >= event!.totalParticipants)"
      [buttonClass]="'accent border-accent clr-white disabled'"
      [buttonText]="'Event full'"
    ></app-button>
  </ng-container>
</div>
