/* TODO Toggle färger för automatic matching */
/* TODO Disable färg för cancel,start date knapparna */

.page-container {
  padding: 1.5rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.info-and-list-container {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.matching-button-container {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.back-button {
  margin-left: 1rem;
}

app-button {
  padding: 0.2rem;
}

app-date {
  padding: 0.5rem;
}

app-event-info {
  width: 50%;
}

app-participant-list {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.loader {
  border: 0.25rem solid var(--black-clr);
  border-top: 0.25rem solid white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
  margin-left: 3rem;
}

app-button {
  padding-top: 0.5rem;
}

.hidden {
  display: none;
}

.ongoing-event-container {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}

.dates-container {
  display: flex;
  width: 50%;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  display: flex;
  flex-direction: column;
}

.toggle-container {
  padding: 0.5rem;
  display: flex;
}

.match-text {
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 960px) {
  .page-container {
    padding: 0;
    width: 100%;
  }

  .info-and-list-container {
    flex-direction: column;
    align-items: center;
  }

  app-event-info {
    width: 100%;
    text-align: center;
  }

  app-participant-list {
    margin-top: 1rem;
    width: 50%;
  }

  app-button {
    width: fit-content;
    margin: auto;
  }

  .loader {
    margin: auto;
  }

  .matching-button-container {
    flex-direction: column;
    align-items: center;
  }

  .event-full-msg {
    margin: auto;
  }

  .dates-container {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .dates-container {
    flex-direction: column;
  }

  .toggle-container {
    justify-content: space-evenly;
  }

  .next-date-btn {
    margin-top: 1rem;
  }
}
