.page-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.page-container * {
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  overflow-x: scroll;
  justify-content: flex-start;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.placeholder-text {
  font-style: italic;
}

.card-container::-webkit-scrollbar {
  width: 1rem;
}

.card-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

.card-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

.card-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
