.page-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.page-container * {
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  overflow-x: scroll;
  justify-content: flex-start;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.placeholder-text {
  font-style: italic;
}

.card-container::-webkit-scrollbar {
  width: 1rem;
}

.card-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

.card-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

.card-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  border: 0.25rem solid var(--black-clr);
  border-top: 0.25rem solid white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 680px) {


  p, h2 {
    text-align: center;
  }

}
