.page-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.overview-card-container {
  display: flex;
  overflow-x: scroll;
  padding-right: 1rem;
}

app-event-card,
app-profile-card {
  padding: 1rem;
}

app-button {
  margin-top: 1rem;
  width:fit-content;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.overview-card-container::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.overview-card-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

.overview-card-container::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
  border-radius: 10px;
}

.overview-card-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
