*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.minMaxSliderContainer{
  /*position: relative;*/
  border: 1px solid red;
  padding: 0.05rem;
}
.slidersAndPreviewsContainer{
  display: flex;
  border: 1px solid #0059ff;
  /*padding: 1rem;*/
  /*padding-top: 0.25rem;*/
  padding: 0.25rem 1rem 0.25rem 1rem;
}
.slidersContainer{
  position:relative;
  display: flex;
  flex:1;
  border: 1px solid #3c9417;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.sliderLabel{
  text-align: center;
}
.sliderPreview{

}
.sliderMinPreview{

}
.sliderMaxPreview{

}

input[type=range] {
  position: absolute;
  /*width: 100%;*/
  left: 0.01rem;
  right: 0.01rem;
  flex:1;
}

.min-slider {
  top: 0.0001rem;
  z-index: 100;
  display:inherit;
}

.max-slider {
  top: 0.0001rem;
  z-index: 101;
  rotate: 180deg;
  display: inherit;
}
.minMaxSliderContainer {
  /*height: 100px;*/
}
/*#topSlider1 {*/
/*  background: #00000000;*/
/*}*/

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}
/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: rgba(204, 204, 204, 0);
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: rgba(204, 204, 204, 0);
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 2px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px rgb(255, 85, 0);
}
