.participantList {
    border: 5px solid yellow;
    width: 500px;
    margin-bottom: 15px;
}

.participant {
    cursor: grab;
    height: 30px;
    background-color: red;
    border: 1px solid black;
    margin-top: 10px;
}
p {
    text-align: center;
}