.participant-list {
  background-color: #f7f4f4f8;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.5rem;
}

.participant {
  cursor: grab;
  background: var(--accent-clr);
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.participant:nth-child(odd) {
  background: var(--secondary-clr);
}

p {
  font-weight: bold;
}
