<div *ngIf="isOpen" class="date-review-popup">
  <button>X</button>
  <div class="date-review-content">
    <div id="profile-info-container">
      <h1>{{user?.firstname}} {{user?.lastname}}</h1>
      <p>Age: {{user?.age}}</p>
      <p>Sex: {{user?.gender}}</p>
<!--
      <p>Interests {{user?.activityData}}</p>
-->


    </div>
    <div id="date-review-container">
      <ng-container *ngFor="let date of userDates">
        <app-participant-answer [date]="date"></app-participant-answer>
      </ng-container>

    </div>


  </div>

</div>
