<div *ngIf="isOpen" class="date-review-container">
  <div class="review-header">
    <fa-icon [icon]="faX" class="close" (click)="closePopUp()"></fa-icon>
  </div>

  <div class="profile-info-container">
    <h1>{{ user?.firstname }} {{ user?.lastname }} -&nbsp;</h1>
    <p>{{ user?.age }} year old&nbsp;</p>
    <p>{{ user?.gender }}</p>
  </div>

  <div class="participant-answer-container" *ngIf="userDates.length !== 0">
    <ng-container *ngFor="let date of userDates">
      <app-participant-answer [date]="date"></app-participant-answer>
    </ng-container>
  </div>


  <!-- 
      <ng-container *ngIf="userDates.length === 0">
        <p>No feedback</p>
      </ng-container> -->

  <!-- </div> -->
</div>
