.date-review-container {
  background: var(--white-clr);
  display: flex;
  flex-direction: column;
  width: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  /* padding: 1rem; */
}

.review-header {
  display: flex;
  justify-content: flex-end;
}

.close {
  cursor: pointer;
  padding: 0.8rem;
}

.profile-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.participant-answer-container {
  display: flex;
}

h1 {
  font-weight: bold;
}
