.hamburgerContainer{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 20, 147, 0);
  display: none;
  translate: 0 -5px;
  margin-bottom: 1rem;
}
fa-icon{
  font-size: 40px;
}
fa-icon svg{
  width: 40px;
  height: 40px;
  /*font-size: 100%;*/

}

@media (max-width: 680px) {
  .hamburgerContainer {
    display: block;
  }
}
