<div class="event_card_container">
  <div class="event_card_image">
    <p class="event_card_information">
        Göteborg
    </p>
    <p class="event_card_information">
      Slottskogen
    </p>
    <i class="event_card_information open_map">V</i>
  </div>
  <div class="event_card_footer">
    <i>&#x29D6;</i>
    <p> 18/9 | 18:30 - 19:30</p>
    <div class="event_card_buttons">
      <app-button [buttonClass]="'trans clr-accent border-accent small'" [buttonText]="'Information'" > </app-button>
      <app-button [buttonClass]="'accent clr-white small'" [buttonText]="'Read More'"> </app-button>
    </div>
  </div>

</div>
