.event-card-container {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  min-height: 15rem;
  max-width: 25rem;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: scale 100ms ease-in-out;
  margin: 0.2rem;
}

.event-card-container:hover {
  scale: 102%;
}

.event-card-larger {
}

.event-card-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
}

.event-card-location-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.event-card-footer {
  display: flex;
  grid-gap: 0.5rem;
}

.event-card-information {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}

.city {
  background-color: hsla(0, 63%, 85%, 0.8);
}

.venue {
  background-color: hsla(100, 100%, 100%, 0.8);
}

.event-card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.clock-icon,
.event-date,
.slots-info {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.clock-icon {
  font-size: 1.5rem;
}

.event-date {
  font-size: 1.1rem;
}

.slots-info {
}

.available {
  color: green;
}

.full {
  color: red;
}
