
/*!*Color scheme based on the logo*!*/
/*:root {*/
/*  --vibrant-red: #E63946;*/
/*  --deep-pink: #FF61A6;*/
/*  --purple: #9B5DE5;*/
/*  --soft-lavender: #C77DFF;*/
/*  --warm-white: #FDFDFF;*/
/*  --metallic-silver: #C0C0C0;*/
/*}*/

/*.smash-theme {*/
/*  --primary-color: var(--vibrant-red);*/
/*  --accent-color: var(--deep-pink);*/
/*  --secondary-color: var(--purple);*/
/*  --tertiary-color: var(--soft-lavender);*/
/*  --neutral-color: var(--warm-white);*/
/*  --detail-color: var(--metallic-silver);*/
/*}*/

:root{
  --white-clr: #f3f3f3;
  --black-clr: #343434;
  --primary-clr: #2F3061;
  --secondary-clr: #FFE66D;
  --accent-clr: #6CA6C1;
  --alternate-clr: #fff;
  --attention-clr: #ff4343;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Global Styles, including CSS Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
