<div class="page-container">
  <h1 class="your-profile">Your Profile</h1>
  <div class="profile-container">
    <div class="personal-info-container">
      <img src="http://localhost:3000/{{user?.imagePath}}"  />
      <h2>{{ user?.firstname }} {{ user?.lastname }}</h2>
      <ul>
        <li>Age: {{ user?.age }} years</li>
        <li>City: {{ user?.city?.name }}</li>
      </ul>
    </div>

    <div class="bio-container">
      <h3>Biography</h3>
      <p>{{ user?.description }}</p>
    </div>
  </div>
<!--  <div *ngFor="let category of categories">-->
<!--    <p>{{category}}</p>-->
<!--      <ng-container *ngFor="let b of arm">-->
<!--        <p *ngIf="b.activity.category === category">-->
<!--          Category: {{b.activity.category.name}} name: {{ b.activity.name }} , rating: {{ b.points }}-->
<!--        </p>-->
<!--      </ng-container>-->
<!--  </div>-->
</div>
