.page-container {
  margin: 0 auto 1rem;
  width: 80%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

.profile-container {
  margin-top: 1rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px #ccc solid;
}

.activity-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: aliceblue;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: flexspace-evenly-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.star-rating .grey-star{
  color: #d0d0d0;
}

img,
.personal-info-container,
.bio-container {
  padding: 1rem;
}

.your-profile {
  text-align: center;
  margin-top: 1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

ul {
  margin-top: 1rem;
  list-style-position: inside;
}

p {
  margin-top: 1rem;
}

img {
  width: auto;
  height: auto;
  max-width: 10rem;
  border-radius: 50%;
}

.star-rating .yellow-star {
  color: #f5d442;
}


@media (max-width: 800px) {
  .profile-container {
    flex-direction: column;
  }

  .bio-container {
    border-top: var(--accent-clr) 0.1rem solid;
  }

  .activity-container {
    flex-direction: column;
  }

  .activity {
    padding: 1rem;
  }

  p {
    margin-top: 1rem;
  }

}
